/*
Theme Name: Child of Twenty Twelve
Description: Cool child theme based on Twenty Twelve
Author: Jenny Ryden
Version: 0.0.1
Template: twentytwelve
*/

@import url('../twentytwelve/style.css');

body {
  background-color: teal;
  font-family: 'Archivo Narrow', sans-serif;
}

.cat-thumb {
  float: left;
  margin: 0 10px 10px 0;
}

#front-page-intro {
  border-bottom: 1px #EDEDED solid;
  padding: 24px 0 48px;
  padding: 1.714285714rem 0;
  margin-bottom: 24px;
  margin-bottom: 1.714285714rem 0;
}
#intro-elements {
  float: left;
  width: 47.916666667%;
}
#intro-text p {
  margin: 0 0 24px;
  margin: 0 0 1.714285714rem;
  line-height: 1.714285714rem;
}
/* Minimum width of 600 pixels */
@media screen and (max-width: 600px) {
  #intro-elements {
    float: none;
    width: 100%;
  }
}

.hide-button {
  float: right;
  margin: -20px 10px 0 0;
}
.hide-button a {
  color: #777;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  padding: 3px 20px;
  border-top: 1px #fff solid;
  border-right: 1px #ededed solid;
  border-bottom: 1px #ededed solid;
  border-left: 1px #ededed solid;
}
.hide-button a:hover {
  color: #000;
}
/* SOCIAL ICONS IN SIDEBAR */
#social-icons li {

}
#social-icons a:link,
#social-icons a:hover,
#social-icons a:visited {
  display: block;
  float: left;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
  margin: 0 10px 10px 0;

}

.social-twitter a {
  background: #39a9e0 url('images/twitter-32.png') no-repeat;
}
.social-facebook a {
  background: #3b5998 url('images/facebook-32.png') no-repeat;
}
.social-linkedin a {
  background: #007fb1 url('images/linkedin-32.png') no-repeat;
}
.social-aboutme a {
  background: #00405d url('images/aboutme-32.png') no-repeat;
}
.social-github a {
  background: #4183c4 url('images/github-32.png') no-repeat;
}

/* PAGINATION */

.paginationBox {
  clear: both;
  display: block;
  float: left;
  margin: 1em 0 2em 0;
}
ul.pagination {
  margin: 0px auto 0px auto;
  padding: 0px 0px 10px 0px;
  position: relative;
  font-size: 80%;
  line-height: 1em;
  list-style-type: none;
}
.pagination li {
  float: left;
  vertical-align: middle;
  background-color: #fff;
  margin-right: 1px;
}


.pagination span,
.pagination a {
  float: left;
  border: 1px #ededed solid;
  padding: 3px 9px 4px 9px;
  text-decoration: none;
  width: auto;
  color: #999;
}
.pagination a:hover,
.pagination a:focus {
  color: #fff;
  background-color: #777;
  border-color: #777;
}
.pagination .current{
  padding: 3px 9px 4px 9px;
  color: #fff;
  background-color: #777;
  border: 1px #777 solid;
}

/* END PAGINATION */
